.cart-page{
    width:100%;
    display:flex;
    //flex-wrap: wrap;
    margin:auto;
    flex-direction: column;
    justify-content: center;
}

.cart-item{
    display:flex;
    //width:60%;
    margin:auto;    
}

.cart-checkout-button{
    margin:auto;
    border:0.13em solid #5e5c5c;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    color:#5e5c5c;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    text-align:center;
    transition: all 0.15s;
    padding:0.5em;
    display: inline-block;
    font-size: 16px;
    width: 10em;
    display:flex;  
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 2em;
}
.cart-empty-text{
    text-align: center;
    margin-top:2em;
}

.cart-checkout-button:hover{
    color:rgb(199, 199, 199);
    border-color:rgb(199, 199, 199);
}

.book-details-grid{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.cart-order-button{
    display:inline-block;
   // padding:1em 1.5em;
    padding:0.7em;
    border:0.13em solid #5e5c5c;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    color:#5e5c5c;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    text-align:center;
    transition: all 0.15s;
    width: 9em;
    margin:auto;
    margin-top: 2em;

}
.cart-order-button:hover{
    color:rgb(199, 199, 199);
    border-color:rgb(199, 199, 199);
}

.cart-page-summary{
    border: 1px solid rgb(255, 255, 255)!important;
    width:60%;
    height: fit-content;
    margin:auto;    
    background-color: rgb(255, 255, 255);
    margin-top:3em;
    margin-bottom:2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    padding:2em;
}

.cart-item{
    margin:auto;
    width:80%;
    //@extend: rgb(255, 255, 253);
}

.cart-page-summer-title{
    margin:auto;
    text-align: center;
    font-weight: bold;
    padding:0.8em;
}

.cart-page-row{
    display:flex;
    justify-content: space-between;
}

.cart-page-cell{
    padding:1em;
}

.cart-checkout-input-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.cart-checkout-input{
    width:100%;
    margin:auto;
    padding: 0.5em;
    margin:0.25em;
}

.cart-checkout-input-wrap{
    margin: auto;
    width: 80%;
}

.margin-center{
    margin-top:4em;
}