body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background: #f6f6f6;
  font-weight: 400;
  font-size: 15px;
  color: #333;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0em;
}


a {
  color: black;
  text-decoration: none; /* no underline */
}

